
*{
    /* add backup fonts */
    font-family: "Kumbh Sans";
}

h1{
    font-weight: 100;
    text-align: center;
}

button{
    font-size: 30px;
    color: white;
    height: 48px;
    width: 140px;
    border-radius: 30px;
    border: none;

    /* to center button */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    width: 40px;

}

#btnStart{
    background-color: #9BDC84;
    font-weight:bold;
    letter-spacing: 2px;
}
#btnPause{
    background-color: #EF6060;
    font-weight:bold;
    letter-spacing: 2px;
}


#timer{
    font-size: 100px;
    /* background-color: #6767671b; */

    /* to center timer */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}