
*{
    /* add backup fonts */
    font-family: "Kumbh Sans";
}

h1{
    font-weight: 100;
    text-align: center;
}

button{
    font-size: 30px;
    color: white;
    height: 48px;
    width: 140px;
    border-radius: 30px;
    border: none;

    /* to center button */
    position: absolute;
    /* position: relative; */
    /* top: 90%; */
    left: 50%;
    transform: translate(-70px, 190px);
}

.container{
    width: 408px;
    height : 120px;
    
    font-size: 80px;
    color: #676767;
    display: inline-flex;
    background-color: white;
    padding: 4px;
    border: 2px solid;
    border-radius: 10px;
    
    /* to center */
    position: absolute;
    /* top: 45%; */
    /* position: relative; */
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    /* text-align: center; */
    /* transform: translateY(90%); */
    visibility: hidden;
}
input{
    font-size: 90px;
    text-align: center;
    color: #676767;
    /* background-color: #F5F5F5; */
    /* position: relative; */
    width: 120px;
    height: 117px;
    border-radius: 10px;
    border: none;
    outline: none;
    

}

.timerTitle{
    font-size: 30px;
    position: absolute;
    top: -52%;
    left: 2%
}

/* #focusInputContainer{
    background-color:indianred;
} */
#breakInputContainer{
    /* background-color: cornflowerblue; */
    /* position: relative;
    left: 50%;
    transform: translate(-151%, 0%); */
    visibility: hidden; 
}

#leftArrow{
    /* color */
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: -7%
}

#rightArrow{
    /* color */
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 101%

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%,0%); */
    
}

#btnStart{
    background-color: #9BDC84;
    font-weight:bold;
    letter-spacing: 2px;
}
#btnPause{
    background-color: #EF6060;
    font-weight:bold;
    letter-spacing: 2px;
    visibility: hidden;
}
#btnRestart{
    width: 50px;
    height: 50px;
    background-color: #FFCB12;

    position: absolute;
    /* position: relative; */
    /* top: 80%; */
    /* left: -50%; */
    transform: translate(-25px,270px);
    /* transform: translate(0%, 0%); */
    visibility: hidden;
}
#btnBreak{
    background-color: #89BFFF;

    position: absolute;
    /* top: 90%; */
    /* left: 50%; */
    transform: translate(70px, 190px);
    /* transform: translateX(100px) */
    visibility: hidden;
}

#btnExtend{
    background-color:#FFCB12;

    position: absolute;
    transform: translate(-210px, 190px);
    visibility: hidden;
}

#timer{
    font-size: 100px;
    /* background-color: #6767671b; */

    /* to center timer */
    /* position: absolute; */
    /* top: 45%; */
    /* left: 50%; */
    z-index: 950;
    position: relative;
    text-align: center;
    transform: translateY(90%);
}
#totalTime{
    /* background-color: #89BFFF; */
    font-size: 40px;
    /* width: 125px; */

    /* position: absolute; */
    /* position: relative; */
    /* text-align: center; */
    /* text-align: right; */
    /* transform: translateY(90px); */
    left: 215px;
    /* top: 40px; */
    /* transform: translate(790px, 40px); */

    position: relative;
    text-align: center;
    z-index: 900;
    /* text-align:end; */
    transform: translateY(90%);
    visibility: hidden;

}